<h3>Search</h3>
<div id="search" class="sidebarelement">
  <% form_tag({ :controller => 'articles', :action => 'search' },
              { :method => 'get', :id => 'sform' }) do -%>
  <p>
    <input type="text" id="q" name="q" value="" />
    <input type="image" src="http://t37.net/images/search.png" alt="chercher" onclick="$('sform').onsubmit();return false;" />
  </p>
  <% end -%>
</div>

<% @navcats ||= Category.find_all_with_article_counters -%>     

<h3 id="title_categories">Categories</h3>
  <div class="sidebarelement">
    <p>Read articles published under the following categories.</p>
    
    <ul id="thematiques">
    <% for category in @navcats -%>
      <li><%= link_to h(category.name), "#{category.permalink_url}/" %></li>
    <% end -%>
    </ul>
  </div>
  
<%= render_sidebars TagSidebar.new(:maximum_tags => 30) %>

<div class="sidebarelement"> 
  <a xmlns:sioc="http://rdfs.org/sioc/ns#" rel="sioc:has_owner" href="https://creativecommons.net/fdv/">
    <img src="http://i.creativecommons.net/p/fdv" style="border:0px;" />
  </a>
</div>
